<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="userTables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://118.25.197.159:3306/cloud" userId="root" password="root1989128"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.dlf.model.po.user" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="com.dlf.model.mapper.user" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.dlf.model.mapper.user" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <table tableName="u_user" domainObjectName="User" enableCountByExample="ture" enableUpdateByExample="ture" enableDeleteByExample="ture" enableSelectByExample="ture" selectByExampleQueryId="ture"/>
        <table tableName="u_role" domainObjectName="Role" enableCountByExample="ture" enableUpdateByExample="ture" enableDeleteByExample="ture" enableSelectByExample="ture" selectByExampleQueryId="ture"/>
        <table tableName="u_org" domainObjectName="Org" enableCountByExample="ture" enableUpdateByExample="ture" enableDeleteByExample="ture" enableSelectByExample="ture" selectByExampleQueryId="ture"/>
        <table tableName="u_fun" domainObjectName="Fun" enableCountByExample="ture" enableUpdateByExample="ture" enableDeleteByExample="ture" enableSelectByExample="ture" selectByExampleQueryId="ture"/>
        <table tableName="u_access" domainObjectName="Access" enableCountByExample="ture" enableUpdateByExample="ture" enableDeleteByExample="ture" enableSelectByExample="ture" selectByExampleQueryId="ture"/>
    </context>
</generatorConfiguration>